*{
 box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
}
.header{
	width: 100%;
	height: 80px;
	background-color:#1c5f36;
	/*Разкомментировать, если нужно закрепить*/
	position: fixed;
	z-index: 100;
}
.header *{
	display: inline-block;
	vertical-align: top;
	color: white;
}
.name{
	width: 185px;
	font-size: 34px;
	font-weight: bold;
	margin: 22px 140px;
}
.name a{
	text-decoration: none;
}
.menu{
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li{
	font-size: 24px;
	margin-right: -4px;
}
.menu li a{
	text-decoration: none;
	display: block;
	padding: 28px;
	transition: all 0.3s ease-out;
}
.menu a:hover{
	background:#4e7e60; 
	cursor: pointer;
}
.name:hover{
cursor: pointer;
}
.active a{
background:#24864b; 	
}
.active a:hover{
background:#24864b; 	
}
#active a{
background:#24864b; 	
}
#active a:hover{
background:#24864b; 	
}

.banner{
	width: 100%;
	height: 540px;
	background: url(src/fon.jpg) no-repeat 0px 0px; 
	background-size: cover;
	overflow: hidden;
	/*Разкомментировать, если надо закрепить*/
	position: relative;
	left: 0;
	top: 80px;
	margin-bottom: 80px;
}

h1{	width: 90%;
	font-size: 50px;
	font-weight: bold;
	margin: 0 auto;
	margin-top: 150px;
	text-align: center;
	color: white;
	line-height: 60px;
	/*Разкомментировать*/
	position: absolute;
	left:50%;
	margin-left: -45%;
}
.banner a{	
	display: block;
	width: 320px;
	height: 50px;
	font-size: 28px;
	text-align: center;
	color:white;
	text-decoration: none;
	line-height: 50px;
	background: rgba(0, 0, 0, .5);
	border: 2px solid #afb1b4;
	border-radius: 8px;
	margin: 0 auto;
	margin-top: 30px;
	transition: all 0.3s ease-out;
	/*Разкомментировать*/
	position: absolute;
	top:320px;
	left:50%;
	margin-left: -160px;

}
.banner a:hover{
	cursor: pointer;
	background: rgba(13, 16, 23, 0.8);
}

.section1{
	overflow: hidden;
	width: 100%;
	height: 370px;
	background:white;
	
}
.section1 h2{
	width: 86%;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
	margin: 40px auto;
}
.section1 a{
	display: block;
	width: 86%;
	font-size: 28px;
	text-align: center;
	text-decoration: none;
	color:black;
	margin: 20px auto;
	margin-bottom: 0;
	transition: all 0.5s ease-out;
}

.section1 a:hover{
	text-shadow: 1px -1px 2px black;

}


.table_col {
  display: block;
  margin: 40px auto;	
  font-size: 25px;
  background: white;
  text-align: left;
  border-collapse: collapse;
  color: #3E4347;
}
.tr1{
background:#81d88d;	
color: white;
border-left: none;
text-align: center;
}
.table_col th {
font-weight: normal;
border-bottom: 2px solid #F5E1A6;
border-right: 20px solid white;
border-left: 20px solid white;
padding: 8px 10px;
}
.table_col td {
border-right: 20px solid white;
border-left: 20px solid white;
padding: 12px 10px;
color: #8b8e91;
}



.section2{
	overflow: hidden;
	width: 100%;
	height: 350px;
	background: #24864b;
	position: relative;
}
.photo{
	display: block;
	width: 150px;
	border-radius: 100px;
	margin: 0 auto;
	margin-top: 65px;
}
.surname{
	width: 185px;
	position: absolute;
	color: white;
	font-size: 30px;
	left: 60%;
	top:65px;
	font-weight: bold;
}
.comma{
	position: absolute;
	left: 60%;
	top:105px;
}
.section2 h2{
	width: 86%;
	font-size: 28px;
	text-align: center;
	color:white;
	margin: 20px auto;
	margin-bottom: 0;
}



.section3{
	overflow: hidden;
	width: 100%;
	height: 420px;
	background: white;
	/*Отменить комментарий*/
	margin-bottom: 40px;
}
.section3 h2{
	width: 86%;
	font-size: 28px;
	text-align: center;
	color:#4c505d;
	margin: 100px auto;
	margin-bottom: 0;
}
.section3 img{
	display: block;
	width: 100px;
	margin: 50px auto;
}

.footer{
	overflow: hidden;
	width: 100%;
	height: 40px;
	background-color: #707873;
	/*Отменить комментарий*/
	position: fixed;
	z-index: 101;
	left: 0;
	bottom:  0;
}
.footer p{
	color: white;
	font-style: 18px;
	text-align: center;
	margin: 0 auto;
	margin-top: 12px;
}
h1 a{
	text-decoration: none;
	color: white;
}

/*-------------------*/

.banner2{
	height: 250px;
	background: url(src/fon2.jpg) no-repeat 0px 0px; 
}
.banner2 h1{
font-size: 70px;
margin-top: 90px;
}
.section4{
	height: 2350px;
}
.section5{
	height: 1800px;
}
.section4 p{
	width: 85%;
	font-size: 28px;
	text-align:justify;
	color:#4c505d;
	margin: 50px auto;
}
.section4 img{
	display: block;
	width: 60%;
	border-radius: 15px;
	margin: 50px auto;
}
.section4 h2{
	width: 86%;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
	margin: 40px auto;
}
#text{
	text-align: center !important;
}
#time{
	width:80px; 
	
}
@media print {
@page :left { margin: 2cm 0cm 0cm 0cm; }
@page :right { margin: 1cm 0cm 0cm 0cm; } 
	.header{
		display: none;
	}
	.banner{
	height: 100px;
	background: none; 
	overflow: visible;
	position: static;
	top: 0px;
	margin-bottom: 0px;
}
.banner h1{	
	font-size: 25px;
	margin-top: 20px;
	color: black;
}
.section4{
	height: 100%;
}
.section4 p{
	color:black;
	margin: 0px auto;
	font-size: 18px;
}
.section4 .img-to-ptint{
	display: none;
}
.footer{
	display: none;
}
.section3 h2{
	color:black;
	margin: 10px auto;
	font-size: 25px;
}
.table_col {
  margin-bottom: 0;
  color: black;
  margin-top: 0;
  font-size: 18px;
}
.tr1{
background:none;	
color: black;
}
.table_col th {
border-bottom: 2px solid black;
}
.table_col td {
color: black;
}

.section4 img {
	page-break-after: always;
}

}


